@import url('http://fonts.cdnfonts.com/css/poppins');

* {
  box-sizing: border-box;
}

body {
  background-color: hotpink;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  /* overflow: hidden; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;  */
  /* width: 100vw; */
}

/* REST OF PAGE */

h1 {
  font-size: 3rem;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

p {
  margin: 0;
  color: black;
}

.charity,
.important,
p a {
  font-size: 1.2rem;
  font-weight: bold;
}

.link-button {
  text-decoration: none;
  padding: 8px;
  border-radius: 8px;
  color: rgb(22, 22, 22);
}

.link-button:hover,
h1:hover {
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.2);
}

.mailing-list button {
  margin-top: 20px;
}

.mailing-list button:hover {
  cursor: pointer;
}

.hero-image {
  max-width: 200px;
}

.hero-image:hover {
  border: black 1px solid;
}

.break{
  width: 8vw;
  padding: .8px;
  background: rgba(0,0,0,0.2);
}

header, section{
  margin: 0rem 0rem 2rem 0rem;
}

.content-a h2{
  font-size: 2rem; 
}

.content-a p {
  margin-bottom: 1rem;
}

.content-a a{
  font-weight: normal;
}