@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: hotpink;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3 {
  margin: 8px;
}

.btn {
  font-family: inherit;
  cursor: pointer;
  margin-top: 15px;
  border-top: 25px solid transparent;
  border-left: 50px solid rgb(255, 255, 255);
  border-bottom: 25px solid transparent;
}

a {
  text-decoration: none;
}

.btn:hover {
  opacity: 0.8;
}

.btn:focus {
  outline: 0;
}
