@import url('http://fonts.cdnfonts.com/css/poppins');

* {
  box-sizing: border-box;
}

body {
  background-color: hotpink;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

p {
  margin: 0;
  color: black;
}

.charity,
p a {
  font-size: 1.2rem;
  font-weight: bold;
}

.link-button {
  text-decoration: none;
  padding: 8px;
  border-radius: 8px;
  color: rgb(22, 22, 22);
}

.link-button:hover,
h1:hover {
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.2);
}
