.detail-page {
    a {
        @include hover-transition-to-black-transparent;
    }
}

.main-title {
    @include flex-column-center-center;
    &.detail-view {
        text-align: center;
        padding-top: 3rem;
        a {
            @include hover-transition-to-black-transparent;
        }
    }
}

// HERO SECTION

.hero-section.detail-view {
    .hero-image {
        border: 1rem darken($tech-color, 20%) solid;
    }
}

.detail-section {
    .detail-container {
        padding: 0 3rem;
    }
    padding-bottom: 3rem;
}

.back-home {
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
}

.divider {
    width: 50vw;
    margin: auto;
    height: 1px;
    background-color: black;
    margin-bottom: 2rem;
}
