$darkened-color: darken($music-color, 8%);
$lightened-color: lighten($music-color, 8%);

.view-page {
    overflow: visible;
    &.music {
        background: $music-color;
    }

    &.tech {
        background: $tech-color;
    }
}

header {
    .hero-image {
        max-height: 30vw;
    }

    .main-title {
        text-align: center;
        padding: 2rem;
        h1 {
            font-size: 3rem;
        }
    }
}

section.hero-section {
    padding: 2rem;
    @include flex-column-center-center;

    .hero-container {
        max-width: 80%;
        background: $darkened-color;
        border-radius: 1rem;
        a {
            text-decoration: none;

            .hero-inner-container {
                padding: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: $light-color;
                transition: all 0.5s;
                border-radius: 1rem;
                &:hover {
                    background: $lightened-color;
                    .hero-link {
                        background-color: $music-color;
                    }
                }

                .hero-latest-release {
                }
                .hero-title {
                    font-weight: bold;
                    font-size: 2rem;
                    padding-bottom: 1rem;
                    h2 {
                        margin: 0;
                    }
                }

                .hero-image {
                    position: relative;
                    padding-bottom: 1rem;
                    .category {
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 0.8rem;
                        background: $tech-color;
                        opacity: 0.7;
                    }
                }

                .hero-description {
                    max-width: 60%;
                    text-align: center;
                }
            }
        }
    }
}

// CATEGORY!!!
section.category {
    @include flex-column-center-center;
    .category-container {
        max-width: 1280px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        .category-card {
            width: 12rem;
            padding: 1rem;
            background: $tech-color;
            border-radius: 1rem;
            transition: all 0.5s;

            &:hover {
                background: lighten($tech-color, 8%);
                font-weight: bold;
                .hero-link {
                    background-color: $tech-color;
                }
            }

            a {
                text-decoration: none;

                div {
                    @include flex-column-center-center;
                    font-size: 1.5rem;
                    color: $light-color;
                    padding: 0.5rem;
                }
            }
        }

        &.filtered-container {
            .category-card {
                background: darken($tech-color, 20%);

                &.filtered-card {
                    background: $tech-color;
                }
                &:hover {
                    background: lighten($tech-color, 8%);
                    font-weight: bold;
                }
            }
        }
    }
}

//body section.category div.category-container div.category-card.category-videos.filtered-out

section.items {
    @include flex-column-center-center;
    margin: 2rem;

    .item-container {
        max-width: 1280px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;

        .item-card {
            font-size: 1.5rem;
            color: $light-color;
            padding: 0.5rem;
            background: darken($music-color, 8%);
            @include flex-column-center-center;
            text-align: center;
            transition: all 0.5s;
            border-radius: 1rem;

            &:hover {
                background: lighten($music-color, 8%);
            }

            a {
                text-decoration: none;
                color: white;
                @include flex-column-center-center;

                .item-title {
                    padding: 1rem;
                    font-weight: bold;
                }

                .item-image-wrapper {
                    position: relative;

                    .item-category {
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 0.8rem;
                        background: $tech-color;
                        opacity: 0.7;
                        font-size: 1rem;
                    }
                }

                .item-description {
                    font-size: 1rem;
                    max-width: 60%;
                }
            }
        }
    }
}

footer {
    text-align: center;
    background: black;
}
