// Tablets
@media (max-width: 800px) {
    // LANDING
    .navigation-list-item-site-name {
        display: none;
    }

    // LIST
    .category {
        margin: auto;
        .category-container {
            grid-template-columns: repeat(2, 1fr);
            gap: 0.5rem;

            .category-card {
                padding: 0;
                margin: 0;
                width: 170px;

                a div.category-title,
                a div.category-icon {
                    padding: 0 0 0.5rem 0;
                    margin: 0;
                }
            }
        }
    }

    // HERO
    .hero-section {
        padding: 2rem 0rem;
        @include flex-column-center-center;
    }

    .items .item-container {
        grid-template-columns: repeat(1, 1fr);
    }

    img.hero-img {
        width: 200px;
        height: 200px;
    }
}
