// NAV BAR
/* TOGGLE */
.toggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    background: $light-color;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 20;
    cursor: pointer;
    color: $dark-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    rotate: 0deg;
    border-radius: 0;
    transition: all 0.5s;

    &:hover {
        rotate: 360deg;
        border-radius: 50%;
    }

    p {
        margin: 0;
        padding: 0;
        line-height: 0.8;
    }

    &.active {
        background: $dark-color;
        color: $light-color;
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

/* NAVIGATION */
.navigation {
    position: fixed;
    top: 0;
    left: 200%;
    background: $dark-color;
    width: 100%;
    height: 100%;

    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.active {
    left: 0;
}

.navigation ul {
    position: relative;
}

.navigation ul li {
    position: relative;
    list-style: none;
    text-align: center;
}

.navigation ul li a {
    font-size: 2.2rem;
    color: white;
    text-decoration: none;
    font-weight: 300;
    @include hover-transition-to-black-transparent;
}

.navigation .social-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .social-bar a {
    display: inline-block;
    transform: scale(0.8);
}

.navigation .email-icon {
    position: absolute;
    bottom: 20px;
    left: 20px;
    transform: scale(0.8);
    display: flex;
    justify-items: center;
}

.navigation-list-item-site-name {
    font-size: 3rem;
}
