// Font family import: Poppins
@import url('http://fonts.cdnfonts.com/css/poppins');

// Color variables
$music-color: rgb(128, 0, 32);
$tech-color: rgb(0, 0, 128);
$dark-color: black;
$light-color: white;

.tech-color {
    color: $tech-color;
}

.music-color {
    color: $music-color;
}

.menu-jacksorjacksor {
    font-size: 3rem;
    font-weight: bold;
}
// Mixin
@mixin hover-transition-to-black-transparent {
    transition: all 0.5s;
    &:hover {
        color: $dark-color;
        opacity: 0.5;
    }
}

@mixin flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
