* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  color: rgb(0, 0, 0);
  font-family: 'Press Start 2P', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

.btn {
  border: 0;
  background-color: #fff;
  color: #516dff;
  padding: 15px 20px;
  font-family: inherit;
  cursor: pointer;
}

a:hover {
  opacity: 0.8;
}

a:focus {
  outline: 0;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#transcript {
  margin: 0 130px;
  flex-wrap: wrap;
}

h1 {
  margin-bottom: 0.5rem;
}

h2 {
  margin: 0.5rem;
}

em {
  padding-bottom: 1rem;
}
