@import url('http://fonts.cdnfonts.com/css/poppins');

* {
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
}

.portfolio-body,
.transcript {
  font-family: 'Poppins', sans-serif;
  color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.transcript p {
  margin: 0;
}

.main-text {
  width: 80vw;
}

.portfolio-site-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: blanchedalmond;
}

.portfolio-image-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.item a img {
  margin: 8px;
  max-width: 200px;
  max-height: 200px;
}

.item a img:hover {
  border: 2px whitesmoke solid;
}

a {
  color: antiquewhite;
}
