* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  color: rgb(0, 0, 0);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 20px;
  /* height: 100vh; */
  /* overflow: hidden; */
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
}

h1 {
  line-height: 1.4;
  margin-bottom: 0;
}

h2 {
  padding-bottom: 20px;
}

.btn {
  border: 0;
  background-color: #fff;
  color: #516dff;
  padding: 15px 20px;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: 0;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  /* width: 100vw; */
}

#transcript {
  margin: 0 30px;
  flex-wrap: wrap;
}

.screen.up {
  margin-top: -100vh;
}

.birds-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.birds-list li {
  margin: 10px;
}

.btn-audio {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  width: 150px;
  height: 150px;
}

.btn-audio:hover {
  background-color: #fff;
  color: #516dff;
}

.btn-audio:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.active {
  border: 2px solid black;
}

audio {
  scale: 164%;
}

.correct-answer {
  border-color: gold;
}

.correct-answer-text {
  text-decoration: underline;
  color: gold;
}

.incorrect-answer {
  border-color: red;
}

.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

.bird-border-correct-answer {
  border-color: green;
}

.bird-border-incorrect-answer {
  border-color: red;
}

.secret-bird-name,
.possible-bird-name {
  text-transform: capitalize;
}
